<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SmokeSuite" parallel="classes" thread-count="2">
	<listeners>
		
		<listener class-name="com.qa.TestUtils.CustomListener"/>
		
	</listeners>
	
  <test name="SmokeTests">
        <classes>
            <class name="com.qa.SmokeTestCases">
                <methods>
                    <include name="verifyToSignIntoFirstUser"/>
                    <include name="verifyToSendMessage"/>
                     <include name="verifyToSendMessageWithAttachement"/>
                     <include name="validateSendedMessage"/>
                    
                    <!-- Add more test cases with priorities as needed -->
                </methods>
            </class>
        </classes>
    </test>
    
    
</suite> <!-- Suite -->
